@{
    ViewData["Title"] = "Home";
}
<header>
    <section class="container-fluid heading-background">
        <div class="container h-100">
            <div class="main-content d-flex flex-column justify-content-center">
                <div class="homepage-heading">
                    <h1>Modified Lignin Materials for Reactive Polymer Composites: Processing and Characterization</h1>
                </div>
                <div class="subheading">
                    <p>Organized by University of Belgrade, Serbia: Faculty of Technology and Metallurgy (TMF), Faculty of Agriculture,  Faculty of Forestry and Military Technical Institute, Serbia</p>
                </div>
            </div>
        </div>
    </section>
</header>
<main role="main" class="pb-3">
    <section class="what-we-do py-5">
        <div class="container">
            <div class="heading py-3">
                <h1>What we do</h1>
            </div>
            <div class="content py-2">
                <p>
                    Training School will provide intensive online presentation and training in emerging research topics on lignin materials processing and characterization within the laboratories of University of Belgrade, Serbia: Laboratory for Electronic Microscopy, Faculty of Agriculture and Laboratory of Department for Organic Chemistry, Faculty of Technology and Metallurgy, and Laboratory of Department for Materials and Protection, Military Technical Institute, Belgrade, Serbia.
                </p>
            </div>
        </div>
    </section>
</main>