@{
    ViewData["Title"] = "ContactUs";
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Lignocost</title>
</head>

<body>
    
        
    <!-- HEADER -->
    <header>
        <section class="container-fluid contact-background">
            <div class="container h-100">
                <div class="main-content d-flex flex-column justify-content-center align-items-center">
                    <div class="heading">
                        <h1>Contact us</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>

    
    <main>

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-5 mr-5 py-5 contact-card">
                        <h2></h2>
                        <p></p>
                        <a href="mailto:">E-mail: </a>
                        <a href="#"></a>
                    </div>
                    <div class="col-5 ml-5 py-5 contact-card">
                        <h2></h2>
                        <p></p>
                        <a href="mailto:">E-mail:</a>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 mr-5 py-5 contact-card">
                        <h2></h2>
                        <p></p>
                        <a href="mailto:">E-mail:</a>
                        <a href="#"></a>
                    </div>
                    <div class="col-5 ml-5 py-5 contact-card">
                        <h2>dr. </h2>
                        <p></p>
                        <a href="mailto:">E-mail:</a>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 mr-5 py-5 contact-card">
                        <h2></h2>
                        <p></p>
                        <a href="mailto:">E-mail:</a>
                        <a href="#"></a>
                    </div>
                    <div class="col-5 ml-5 py-5 contact-card">
                        <h2>dr. </h2>
                        <p> </p>
                        <a href="mailto:">E-mail:</a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>